#menu ul {
   display:flex;
   flex-direction: row;
   align-content: stretch
   
}

header, nav,aside
{
    display: grid;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
}

body > header {
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap 

}



